<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="center">
  <ion-card>
    <div class="cntr">
    <img src="../././../../assets/icon.png" >
  </div>
  <div class="heading">
    <ion-card-header>
    
      <ion-card-subtitle >Name</ion-card-subtitle>
      <div class="Text">
      <ion-card-content>Muhammad Awais</ion-card-content>
    </div>
      <ion-card-subtitle>E-mail</ion-card-subtitle>
      <div class="Text">
        <ion-card-content>muhammadawais083@gmail.com</ion-card-content>
      </div>

    </ion-card-header>
    <ion-card-content>
     Email us to Delete/Disable your profile
     <br>
     Provide feedback On following Email
     <br>
     Rate us
    </ion-card-content>
  </div>
</ion-card>
</div>
</ion-content>
<ion-footer >
  <div class="foot">
  Copy Rights@2020 Reserved for only Muhammad Awais
</div>

</ion-footer>
